{% extends "/html/base_template.html" %}
{% block css %}{% endblock %}
{% block js %}{% endblock %}
{% block message %}{% endblock %}
{% block content %}
<div>
  <h2>おもいでまきものについて</h2>
  <p>おもいでまきものの作者は、hrwatahikiです。お問い合わせは、hrwatahiki at gmail.com、twitter:<a href="https://twitter.com/hrwatahiki">@hrwatahiki</a>へどうぞ。</p>
  <p>
    おもいでまきものは以下のソフトウェア/サービスを用いて作られています。
  </p>
  <ul>
    <li><a href="https://www.python.org/">Python 2.7</a></li>
    <li><a href="https://appengine.google.com/">Google App Engine</a></li>
    <li><a href="http://jquery.com/">JQuery</a></li>
    <li><a href="http://lokeshdhakar.com/projects/lightbox2/">Lightbox2</a></li>
    <li><a href="http://www.kfsoft.info/MyThumbnail/">My Thumbnail</a></li>
    <li><a href="https://github.com/dound/gae-sessions">gae-sessions</a></li>
  </ul>
  <p>
    このサービスのソースは<a href="https://github.com/hrwatahiki/omoide-makimono">github</a>で公開しています。MITライセンスです。
  </p>
</div>
<hr>
<div>
  <a href="/list">戻る</a>
</div>
{% endblock %}
